!!! 5
/
  what’s the point of pretending to be a modern browser if one can’t parse/style HTML5 elements served as text/html?
  I’M LOOKING AT YOU, FIREFOX! DO EVERYONE A FAVOUR AND TEACH YOURSELF ABOUT <article>, <footer> AND <nav>, FOR COOK’S SAKE!
%html{lang: @item.lang || Tributary::App.locale || 'en'}
  %head
    %link{href: 'layout.css', rel: 'stylesheet'}
    %link{href: "#{@item.type}.css", rel: 'stylesheet'}
    %meta{charset: 'UTF-8'}
    %title= @item.title or settings.sitename
  %body
    = haml :nav, layout: false
    .article
      = yield
    = haml :nav, layout: false
    .footer
      %p
        - if @item.path
          this is a part of
          %a.chastell-net{href: '/'}= settings.sitename
          |
        %a{href: 'about'} designed by chastell in Mazovia
