---
layout: main
---
{% for index in (0..site.data.photos[page.slug].extra) %}
  <div class="photo" id="{{ index }}">
    {% if page.next %}
      <a href="{{ page.next.url }}" class="next">◀</a>
    {% else %}
      <span></span>
    {% endif %}

    {% if index == 0 %}
      <img src="/1/125/photos/{{ page.slug }}.jpg" />
    {% else %}
      <img src="/1/125/photos/{{ page.slug }}.{{ index }}.jpg" />
    {% endif %}

    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="previous">▶</a>
    {% else %}
      <span></span>
    {% endif %}

    {% comment %}
      {% if page.next %}
        <a href="{{ page.next.url }}" class="left"></a>
      {% endif %}

      {% if page.previous %}
        <a href="{{ page.previous.url }}" class="right"></a>
      {% endif %}
    {% endcomment %}
  </div>
{% endfor %}
<article id="{{ site.data.photos[page.slug].extra | plus: 1 }}">
  <div class="meta">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="coords">
      {{ page.shot | date: '%B %Y' }}, {{ page.place }}
      {%- if page.photographer -%}, by {{ page.photographer }}{%- endif -%}
    </p>
  </div>
  {{ content }}
</article>
